<div>
  <h2><%= @post.title %></h2>
  <div><%= @post.body %></div>
  <hr>
  <%= link_to 'All Posts', posts_path %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', @post, data: {confirm: 'Are you sure?'}, method: :delete %>
</div>
