<!DOCTYPE html>
<html>
  <head>
    <title>Ultimate PaperTrail Guide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="bg-stone-50">
    <div>
      <% if notice %>
        <p class="fixed px-3 py-2 mb-0 text-white bg-blue-500 rounded-md top-4 left-4" data-fade-out><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="fixed px-3 py-2 mb-0 text-white bg-red-500 rounded-md top-4 left-4" data-fade-out><%= alert %></p>
      <% end %>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('[data-fade-out]').fadeOut(1000);
    }, 2500);
  });
</script>
