<div class="p-4 mb-4 bg-white border border-gray-200 rounded-md">
  <div class="flex items-start justify-between">
    <div class="flex items-center mb-4">
      <div class="flex-shrink-0 mr-3">
        <%= image_tag "https://i.pravatar.cc/400?img=#{post.user.id}", class: "rounded-full h-12 w-12" %>
      </div>
      <div class="leading-none">
        <span class="block mb-[0.125rem] text-sm font-bold"><%= post.user.name %></span>
        <%= link_to time_ago_in_words(post.created_at), post, class: "block text-xs text-gray-500 no-underline" %>
      </div>
    </div>
    <div>
      <%= link_to "Edit", edit_post_path(post), class: "text-xs text-gray-500 uppercase" %>
    </div>
  </div>
  <div class="text-lg"><%= post.body %></div>
</div>
