<div class="p-3 mb-3 text-sm border border-gray-200 rounded-md">
  <div class="flex items-start justify-between">
    <p class="mb-2 font-semibold text-gray-600">
      <%= version.event.titleize %>d
      <%= time_ago_in_words version.created_at %> ago
      <%= "by #{version.user.name}" if version.user %>
    </p>
    <% if version.changeset[:body][1] && version.changeset[:body][1] != @post.body %>
      <div>
        <%= link_to 'Restore', restore_post_path(@post, version), method: :post, class: "text-xs text-gray-500 uppercase no-underline hover:underline" %>
      </div>
    <% end %>
  </div>
  <div>
    <% if version.changeset[:body][0] %>
      <p class="mb-1 text-gray-400 line-through">
        <%= version.changeset[:body][0] %>
      </p>
    <% end %>
    <p class="mb-0">
      <%= version.changeset[:body][1] %>
    </p>
  </div>
</div>
