<!DOCTYPE html>
<html>
  <head>
    <title>PaperTrail Example</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="bg-gray-50">
    <% if @view_options[:header] %>
      <header class="px-4 py-3 bg-white border-b border-gray-200 md:px-0">
        <div class="container flex items-center justify-between mx-auto">
          <%= link_to 'PaperTrail Guides', '/', class: 'font-extrabold py-2' %>
          <div class="flex items-center space-x-3">
            <% if user_signed_in? %>
              <%= link_to 'New Post', new_post_path, class: 'button' %>
              <div class="flex-shrink-0">
                <%= image_tag "https://i.pravatar.cc/400?img=#{current_user.id}", class: "rounded-full h-8 w-8" %>
              </div>
              <%= link_to 'Sign Out', session_path(current_user), method: :delete, class: 'text-sm' %>
            <% end %>
          </div>
        </div>
      </header>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
